* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    height: 100vh;
    background-color: black;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

i {
    color: white;
    padding-right: 2px;
}

header {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin: 5px 0;
}

.speaker {
    background-color: gray;
    color: white;
    padding: 3px;
    font-weight: bold;
    margin-left: 5px;
    border-radius: 5px;
}

.main {
    width: 1200px;
    height: 500px;
    margin: 10px 0;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.box {
    width: calc(100% / 7);
    height: calc(100px - 10px);
    margin: 5px 0;
}

.image-box {
    position: relative;
    background-image: url(../img/panda.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
}

.user-status {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: gray;
    opacity: 70%;
    color: white;
}

.user-status::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f131";
    color: white;
}

